---
---

body {
  padding-top: 70px;
}

.jumbotron .actions {
  text-align: center;
  margin-top: 40px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer li {
  display: inline;
}